
@font-face{
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/Proxima Nova OpenType/ProximaNova-Bold.otf');
  font-weight: normal;
  font-style: normal;}

@font-face{
  font-family: 'ProximaNova-Light';
  src: url('../fonts/Proxima Nova OpenType/ProximaNova-Light.otf');
  font-weight: normal;
  font-style: normal;}

@font-face{
  font-family: 'ProximaNova-Reg';
  src: url('../fonts/Proxima Nova OpenType/ProximaNova-Reg.otf');
  font-weight: normal;
  font-style: normal;}

@font-face{
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/Proxima Nova OpenType/ProximaNova-Bold.otf');
  font-weight: normal;
  font-style: normal;}

@font-face{
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/Proxima Nova OpenType/ProximaNova-Bold.otf');
  font-weight: normal;
  font-style: normal;}

@font-face{
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/Proxima Nova OpenType/ProximaNova-Bold.otf');
  font-weight: normal;
  font-style: normal;}

@font-face{
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat-Medium.ttf');
  font-weight: normal;
  font-style: normal;}



@import "first";
@import "second";
@import "third";
@import "fourt";
